In [2]:

import pandas as pd
import matplotlib.pyplot as plt

In [3]:

data = pd.read_csv('./Data/ESK2033.csv')
data = pd.DataFrame(data)

In [13]:
supply_columns = [
    'Date Time Hour Beginning', 
    'Dispatchable Generation', 'International Imports', 'Thermal Generation',
    'Nuclear Generation', 'Eskom Gas Generation', 'Eskom OCGT Generation',
    'Hydro Water Generation', 'Pumped Water Generation', 'ILS Usage',
    'Manual Load_Reduction(MLR)', 'IOS Excl ILS and MLR',
    'Dispatchable IPP OCGT', 'Eskom Gas SCO', 'Eskom OCGT SCO',
    'Hydro Water SCO', 'Pumped Water SCO Pumping', 'Wind', 'PV', 'CSP',
    'Other RE', 'Total RE', 'Wind Installed Capacity',
    'PV Installed Capacity', 'CSP Installed Capacity',
    'Other RE Installed Capacity', 'Total RE Installed Capacity',
    'Installed Eskom Capacity', 'Total PCLF', 'Total UCLF', 'Total OCLF',
    'Total UCLF+OCLF', 'Non Comm Sentout', 'Drakensberg Gen Unit Hours',
    'Palmiet Gen Unit Hours', 'Ingula Gen Unit Hours'
]

# Retrieve supply data into a new matrix
supply_data = data[supply_columns]
supply_data

demand_columns = [col for col in data.columns if col not in supply_columns]

# Include 'Date Time Hour Beginning' in the demand columns
demand_columns =demand_columns

# Retrieve demand data into a new matrix
demand_data = data[demand_columns]


demand_data

,Original Res Forecast before Lockdown,Residual Forecast,RSA Contracted Forecast,Residual Demand,RSA Contracted Demand,International Exports
2018-04-01 12:00:00 AM,19904.967,20367.066,20237.0,20722.058,1215.902,1120.0
2018-04-01 01:00:00 AM,19553.899,19988.733,19744.0,20188.493,1203.474,1106.0
2018-04-01 02:00:00 AM,19314.284,19731.239,19631.0,20019.603,1177.571,1117.0
2018-04-01 03:00:00 AM,19342.679,19753.554,19731.0,20079.454,1184.312,1118.0
2018-04-01 04:00:00 AM,19538.890,19988.365,19890.0,20237.490,1197.271,1108.0
...,...,...,...,...,...,...
2023-03-31 07:00:00 PM,27746.667,29314.632,NaN,NaN,NaN,NaN
2023-03-31 08:00:00 PM,26101.656,27605.215,NaN,NaN,NaN,NaN
2023-03-31 09:00:00 PM,24646.570,26030.785,NaN,NaN,NaN,NaN
2023-03-31 10:00:00 PM,23384.907,24597.115,NaN,NaN,NaN,NaN
2023-03-31 11:00:00 PM,22313.206,23446.158,NaN,NaN,NaN,NaN

In [17]:
supply_data

,Date Time Hour Beginning,Dispatchable Generation,International Imports,Thermal Generation,Nuclear Generation,Eskom Gas Generation,Eskom OCGT Generation,Hydro Water Generation,Pumped Water Generation,ILS Usage,...,Total RE Installed Capacity,Installed Eskom Capacity,Total PCLF,Total UCLF,Total OCLF,Total UCLF+OCLF,Non Comm Sentout,Drakensberg Gen Unit Hours,Palmiet Gen Unit Hours,Ingula Gen Unit Hours
2018-04-01 12:00:00 AM,NaN,20237.0,19444.0,931.0,0.0,0.0,360.0,0.0,0.0,0.0,...,44546.0,3987.472,8028.710,275.907,8304.0,617.0,383.0,81.8,36.9,30.41
2018-04-01 01:00:00 AM,NaN,19744.0,19297.0,930.0,0.0,0.0,360.0,0.0,0.0,0.0,...,44546.0,3987.472,7727.302,244.907,7972.0,209.0,388.0,83.0,38.5,32.85
2018-04-01 02:00:00 AM,NaN,19631.0,19165.0,931.0,0.0,0.0,360.0,0.0,0.0,0.0,...,44546.0,3987.472,7704.704,193.727,7898.0,431.0,388.0,83.8,40.3,35.60
2018-04-01 03:00:00 AM,NaN,19731.0,19279.0,930.0,0.0,0.0,360.0,0.0,0.0,0.0,...,44546.0,3990.072,7702.868,187.000,7889.0,868.0,389.0,85.0,42.0,37.76
2018-04-01 04:00:00 AM,NaN,19890.0,19369.0,930.0,0.0,0.0,360.0,0.0,0.0,0.0,...,44546.0,3990.472,7685.115,187.000,7872.0,115.0,385.0,85.8,43.7,40.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-31 07:00:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-03-31 08:00:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-03-31 09:00:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-03-31 10:00:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-03-31 11:00:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN